@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

li {
  list-style: none;
}

button {
  cursor: pointer
}

.index-page {
  margin: auto;
  width: 95%;
  margin-top: 40px;
}

.table-grid {

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
}

.table-grid div {
  font-size: 12px;
}

.input-items {
  margin-top: 50px;
}

.input-form input {
  border: none;
  border-bottom: 1px solid lightblue;
  width: 80px;
}

input:active {
  border: none;
}

input:focus {
  border: none;
}

input:hover {
  border: none;
}

.number-input {
  display: flex;

}

.number-input div {
  margin-left: 10px;

}

label {
  font-size: 12px;
}

.table-grid .long-tablename {
  font-size: 10px;
}

ul li {
  border: 1px solid lightgrey;
}

@media only screen and (min-width: 600px) {
  .index-page {
    width: 80%;
  }

  .table-grid .long-tablename {
    font-size: 18px;
  }

  label {
    font-size: 17px;
  }

  .table-grid div {
    font-size: 18px;
  }
}

@media only screen and (min-width: 2000px) {
  .index-page {
    width: 60%;
  }

}